@font-face {
  font-family: Poppins;
  src: url('/fonts/Poppins-Regular.ttf');
}

html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: 'Poppins';
  max-width: 100vw;
  overflow: hidden;
}

body {
  min-height: 100%;
  background: linear-gradient(116.82deg, #0C0C0C 0%, #242424 52.6%, #000000 100%);
  backdrop-filter: blur(500px);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.elipse-1{
  position: absolute;
  width: 625px;
  height: 625px;
  left: -132px;
  top: 583px;

  background: radial-gradient(76.75% 76.75% at 70% 23.25%, rgba(114, 4, 123, 0.5) 0%, rgba(103, 9, 223, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(200px);
}

.elipse-2{
  position: absolute;
  width: 625px;
  height: 625px;
  left: 72vw;
  top: -216px;

  background: radial-gradient(76.75% 76.75% at 70% 23.25%, rgba(114, 4, 123, 0.5) 0%, rgba(103, 9, 223, 0.5) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(200px);
}

header {
  padding: 0 32px;
  display: flex;
  gap: 16px;
  align-items: center;
  
  font-weight: 700;
  font-size: 24px;
}

header img {
  height: 36px;
  width: auto;
}

main {
  flex:1;
}

footer {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}
